{% extends 'base.html' %}
{% load static %}

{% block title %}Article Detail{% endblock title %}
<!--this site will show people the detail of the article(author,title,content)-->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
            <h1 class="col-12 mt-4 mb-4">{{article.title}}</h1>
            <div class="col-12 alert alert-success">

                Author:<img src="{{ article.author.profile.photo.url }}"
                            style="max-width:8%; border-radius: 15%;" class="col-md-4">
                {{article.author}}
                {% if user == article.author %}
                <a href="#" onclick="delete_confirm()">Delete Article</a>
                <a href="{% url 'Article:article_edit' article.id %}">Edit Article</a>
                {% endif %}
            </div>
            <div>
                <p style="color: #95999c">
                    Totel views: {{ article.total_views }}
                </p>

            </div>
            <div class="col-12">
                <p>{{article.body}}</p>
            </div>
                <!--Post comments-->
            <hr>
            {% if user.is_authenticated %}
            <div>
                <form action="{% url 'comment:post_comment' article.id%}" method="POST">
                    {% csrf_token %}
                    <div class="form-control">
                        <label for="body">
                            <strong>
                                I want say something:
                            </strong>
                        </label>
                        <textarea
                                type="text"
                                class="form-control"
                                id="body"
                                name="body"
                                rows="2"></textarea>
                    </div>
                    <!-- submit and post the comment-->
                    <button type="submit" class="btn btn-primary">
                        Post</button>
                </form>
            </div>
            <br>
            {% else %}
            <br>
            <h5 class="row justify-content-center">
                Post your comment after <a href="{% url 'Users:login'%}">Sign in</a>
            </h5>
            <br>
            {% endif %}

            <!--Show all comments-->
            <h5> There are {{comments.count }} comments</h5>
            <div>
                {% for comment in comments %}
                <hr>
                <p>
                    <strong style="color: #218838">
                        {{comment.user}}
                    </strong> post at
                    <span style="color: #95999c">
                        {{ comment.created_time|date:'Y-m-d H:i:s'}}
                    </span>:
                </p>
                <pre style="font-family: inherit; font-size: 1em">{{comment.body}}</pre>
                {% endfor %}
            </div>
        <div class="col-3 mt-4">
            ...
        </div>

        </div>
    </div>
    </div>

<script>
    // if user wants delete article, site will alert, make sure if user wants delete (confirm)
    function delete_confirm() {
        layer.open({
            title:"Confirm Delete",
            content:"Are you sure you want delete this Article?",
            yes: function(index,layero) {
              location.href="{% url 'Article:article_delete' article.id%}"
            },
        })
    }
</script>
{% endblock content%}