{% extends 'base.html' %}
{% load static %}

{% block title %}Article Detail{% endblock title %}
<!--this site will show people the detail of the article(author,title,content)-->
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 mt-4 mb-4">{{article.title}}</h1>
            <div class="col-12 alert alert-success">

                Author:<img src="{{ article.author.profile.photo.url }}"
                            style="max-width:8%; border-radius: 15%;" class="col-md-4">
                {{article.author}}
                {% if user == article.author %}
                <a href="#" onclick="delete_confirm()">Delete Article</a>
                <a href="{% url 'Article:article_edit' article.id %}">Edit Article</a>
                {% endif %}
            </div>
            <div>
                Totel views: {{ article.total_views }}
            </div>
            <div class="col-12">
                <p>{{article.body}}</p>
            </div>
        </div>
    </div>

<script>
    // if user wants delete article, site will alert, make sure if user wants delete (confirm)
    function delete_confirm() {
        layer.open({
            title:"Confirm Delete",
            content:"Are you sure you want delete this Article?",
            yes: function(index,layero) {
              location.href="{% url 'Article:article_delete' article.id%}"
            },
        })
    }
</script>
{% endblock content%}