{% extends 'base.html'%}
{% load static %}
{% block title %}Edit Article{% endblock title%}
<!--this site can let user edit the article-->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Article Title</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title}}">
                </div>
                <div class="form-group">
                    <label for="body">Article Content</label>
                    <textarea type="text" class="form-control" id="body" name="body" rows="12">
                        {{ article.body }}
                    </textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content%}
