{% extends 'base.html'%}
{% load static %}
{% block title %}Change Password{% endblock title%}
<!--this site can let user edit the article-->
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <div class="col-md-4">
                User:{{ user.username }}
            </div>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label for="old_password">Old Password</label>
                    <input type="password" class="form-control" id="old_password" name="old_password">
                </div>
                <!--password input-->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <!--confirm password input-->
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>
                <!--Submit-->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content%}